<!DOCTYPE html>
<html lang="pl"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="mainLayout">
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link href="/css/offerForm.css" rel="stylesheet"/>
</head>
<body>
    <th:block layout:fragment="content">

        <h1 th:text="${offer.name}"></h1>
        <h2 th:text="${offer.company.name}"></h2>
        <p th:text="${offer.description}"></p>
        <ul th:each="field : ${offer.positionTypes}">
            <li th:text="${field.name}"></li>
        </ul>
        <div sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')">
            <form class="offerForm" th:action="@{new}" method="post" th:object="${job}" enctype="multipart/form-data" >
                <h1>Złóż podanie</h1>
                <p th:text="${message}"></p>
                <input type="hidden" th:field="*{applicationId}" />
                <label>Video</label>
                <input type="file" th:field="*{video}" placeholder="nazwa" accept="video/mp4,video/x-m4v,video/*"/>
                <video th:if="${job.videoUrl}" th:src="@{'/getFile/' + ${job.videoUrl}}" controls="controls"></video>
                <input type="file" th:field="*{cv}" placeholder="nazwa"  accept="application/pdf"/>
                <a th:if="${job.cvUrl}" th:href="@{'/getFile/' + ${job.cvUrl}}">aktualne cv</a>

                <div><button type="submit">Zatwierdź</button></div>
            </form>
            <form class="offerForm" th:action="@{delete}" method="post">
                <div><button class="btn btn-error" type="submit">Anuluj podanie</button></div>
            </form>
        </div>
        <th:block th:if="${#authentication.getName() == offer.company.accountByAccountId.email}">

            <div >
                <a th:href="'/deleteOffer/'+${offer.offerId}">Usuń ofertę</a>
            </div>
            <table id="offers" border="1px">
                <thead >
                <tr>
                    <td>Nazwa stanowiska</td>
                    <td>Firma</td>
                    <td>Miasto</td>
                    <td>Dziedzina</td>
                    <td>Kraj</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="application : ${offer.applicationsByOfferId}">
                    <td th:text="${application.person.firstName}"></td>
                    <td th:text="${application.person.lastName}"></td>
                    <td>
                        <a th:if="${application.cvUrl}" th:href="@{'/getFile/' + ${application.cvUrl}}">Cv</a>
                    </td>
                    <td>
                        <a th:if="${application.videoUrl}" th:href="@{'/getFile/' + ${application.videoUrl}}" target="_blank">Pobierz video</a><br/>
                    </td>
                    <td th:text="${application.status}">Kraj</td>
                </tr>
                </tbody>
            </table>
        </th:block>
    </th:block>
    <th:block layout:fragment="js">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
        <script type="text/javascript">
            $('#tags').select2({
                tags: true,
                tokenSeparators: [','],
                placeholder: "Wybierz dziedzine oferty"
            });
            $('#title').select2();
        </script>
        <th:block th:if="${#authentication.getName() == offer.company.accountByAccountId.email}">
            <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
            <script type="text/javascript" src="/js/offerList.js"></script>
        </th:block>
    </th:block>
</body>
</html>