<!DOCTYPE html>
<html lang="pl"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="mainLayout">
<head>
    <link href="/css/companyProfile.css" rel="stylesheet"/>
</head>
<body>
    <th:block layout:fragment="content">
        <div class="container-fluid profile">
            <div class="logoContainer">
                <img class="logo" th:if="${company.imageUrl}" th:src="@{'/getFile/' + ${company.imageUrl}}" alt="company logo"/>
                <img class="logo" th:if="${company.imageUrl==null}" src="/img/no-img.jpg" alt="company logo"/>
            </div>
            <h1 th:text="${company.name}"></h1>
            <p class="description" th:text="${company.description}"></p>
        </div>
    </th:block>
</body>
</html>