<!DOCTYPE html>
<html lang="pl"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="mainLayout">
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
</head>
<body>
    <th:block layout:fragment="content">
        <h1 sec:authorize="hasRole('ROLE_COMPANY')">Moje oferty</h1>
        <h1 sec:authorize="!hasRole('ROLE_COMPANY')">Oferty pracy</h1>
        <table class="display" cellspacing="0" width="100%" id="offers" >
            <thead >
                <tr>
                    <td>Nazwa stanowiska</td>
                    <td>Firma</td>
                    <td>Miasto</td>
                    <td>Dziedzina</td>
                    <td>Status</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="application : ${applications}">
                    <td th:text="${application.offer.name}">Nazwa stanowiska</td>
                    <td th:text="${application.offer.company.name}">Firma</td>
                    <td th:text="${application.offer.city}">Miasto</td>
                    <td ><span th:each="field : ${application.offer.positionTypes}" th:text="${field.name}+', '"></span></td>
                    <td th:text="${application.status}">Kraj</td>
                    <td ><a class="btn btn-primary" th:href="@{'apply/' + ${application.offer.offerId} + '/new'}">Szczegóły</a></td>
                </tr>
            </tbody>
        </table>


    </th:block>
    <th:block layout:fragment="js">
        <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="/js/offerList.js"></script>
    </th:block>
</body>
</html>